# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.DS_Store

# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/.env 

# servers

.servers

# Minecraft session files
**/session.lock
servers/*/world/session.lock
servers/*/world_nether/session.lock
servers/*/world_the_end/session.lock